*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex-container{
    display: flex; 
    justify-content: space-between;
    flex-flow: row nowrap; /*esse é um atalho para flex-direction e flex-wrap*/
    background: yellow;
}

.flex-item{
    /*flex-grow: 1; /*permiti que ele distruba os espações entre os elementos*/
    /*flex-basis: 320px; /*da o um tamanho ao elemento antes de distribuir o espaço*/
    /*flex-shrink: 0; /* permiti diminuir o elemento*/
    flex: 1 1 320px; /*esse é um atalho para os comandos acima*/
    color: #FFF;
    background: red;
}
/*Altera a ordenção os elementos podendo usar numeros positivos ou negativos*/
.flex-item:nth-child(1){
    order: -3;
    align-items: stretch;
}

.flex-item:nth-child(4){
    order: 0;
}
.flex-item:nth-child(2){
    order: -4;
}
.flex-item:nth-child(3){
    order: 1;
}
